.button {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: calc(27 / 22);
  letter-spacing: 0.044em;
  text-transform: uppercase;
  border: 10px solid #E2001D;
  padding: 15px 30px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  background-color: white;
  transition: opacity .4s linear;
}

.button:hover {
  cursor: pointer;
  opacity: .6;
}
