.reviews {
  width: 100%;
  background-color: white;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.reviews__title {
  width: 200px;
  align-self: flex-start;
  margin: 0 20px 50px;
  padding: 0;
  background-color: #C4C4C4;
  display: flex;
  text-transform: uppercase;
}

.reviews__container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__list {
  width: calc(100% - 40px);
  margin: 0 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}