.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #E9E9E9;
}

.main__title {
  margin: 173px 120px 116px;
  padding: 0;
  align-self: flex-start;
  font-weight: 700;
  font-size: 48px;
  line-height: calc(62 / 48);
  background-color: #C4C4C4;
  text-transform: uppercase;
}

.main__buttons-container {
  width: calc(100% - 240px);
  margin: 0 0 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__navlink {
  font-weight: 400;
  font-size: 31px;
  line-height: calc(36 /31);
  background-color: #C4C4C4;
  min-height: 194px;
  min-width: 45%;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0;
  border: none;
  text-decoration: none;
  transition: background-color .4s linear;
}