.alert-popup__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .4);
  display: none;
  justify-content: center;
  align-items: center;
}

.alert-popup__wrapper_visible {
  display: flex;
}

.alert-popup {
  width: 40%;
  margin: 0;
  padding: 30px;
  box-shadow: inset 0 0 0 15px #FB0000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.alert-popup__title {
  margin: 0 0 66px;
  font-family: Russo One, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.044em;
  text-transform: uppercase;
  
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.alert-popup__button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.alert-popup__button {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 70px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: transparent;
}

.alert-popup__button:hover {
  cursor: pointer;
  opacity: .6;
}

.alert-popup__button_yes-button {
  border: 3px solid #000000;
  color: #000000;
}

.alert-popup__button_no-button {
  border: 3px solid  #FB0000;
  color: #FB0000;
}
