.alert-popup__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .4);
  display: none;
  justify-content: center;
  align-items: center;
}

.alert-popup__wrapper_visible {
  display: flex;
}

.alert-popup {
  width: 60%;
  margin: 0;
  padding: 30px;
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.alert-popup__title {
  margin: 0 0 66px;
  font-style: normal;
  font-family: 'Russo One', Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(36 / 30);
  text-transform: uppercase;
  text-align: center;
}

.alert-popup__button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.alert-popup__button {
  margin: 30px 0;
  padding: 15px 90px;
  font-style: normal;
  font-family: 'Russo One', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(29 / 24);
  letter-spacing: 0.044em;
  text-transform: uppercase;
  border: 10px solid #E2001D;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  background-color: white;
  transition: opacity .4s linear;
}

.alert-popup__button:hover {
  cursor: pointer;
  opacity: .6;
}

.alert-popup__button_yes-button:hover {
  border-color: chartreuse;
}

.alert-popup__button_no-button:hover {
  border-color: red;
}
