.poem {
  background-color: #E9E9E9;
}

.poem__content {
  background-color: #C4C4C4;
  min-height: 280px;
  font-weight: 700;
  font-size: 48px;
  line-height: calc(62 / 48);
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
